#game {
	width: 95%;
	max-width: 400px;
	border: 1px solid #ccc;
    display: inline-block;
    position: relative;
}
#game::after {
	padding-top: 150%;
	display: block;
	content: "";
}
#title {
	padding-top: 0px;
	margin-top: 0px;
}
.center {
	text-align: center;
}
.muted {
	color: #aaaaaa;
}
body {
	background-image: url("assets/images/nerpatbeach.png");
}
.content {
	padding-top: 10px;
	background-color: #fffffa;
	border: solid 1px #ddccaa;
	border-right: solid 4px #ddccaa;
	border-bottom: solid 4px #ddccaa;
	width: 100%;
	max-width: 600px;
	margin: auto;
	border-radius: 30px;
}